body{
    padding:50px;
    background-image: url(Image/image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    background-color: transparent;
    width: 480px;
    height: 350px;
    margin: 100px 100px;
    padding: 20px;
    box-shadow: rgba(100, 100, 111, 0.9) 0px 7px 29px 0px;
}
.container2{
    background-color: transparent;
    max-width: 480px;
    height: 300px;
    margin: 120px 100px;
    padding:20px;
    box-shadow: rgba(100, 100, 111, 0.9) 0px 7px 29px 0px;
}
#id1{
    margin-top: 20px;
}
.form-group{
    margin-bottom: 10px;
}
.form-control{
    width: 450px;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
}
.btn{
    margin-top: 20px;
    margin-left: 190px;
    padding: 10px 7px;
    font-size: 15px;
    font-weight: bolder;
    width: 100px;
    text-align: center;
}
.msg{
    font-size: 20px;
    text-align: center;
    color: white;
}
.link{
    color: rgb(200, 231, 153);
}