*{
    margin: 0px;
    padding: opx;
}
.fa-solid{
    color: rgb(204, 42, 180);
}
.fa-right-to-bracket{
    color: black;
}
.fa-pen-to-square{
    color: black;
}
.banner{
    width: 100%;
    background-image: url(./Image/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-overlay{
    width: 100%;
    height: 750px;
}
.header{
    width: 100%;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
}
.container{
    display: flex;
    justify-content: space-around;
    height: 70px;
    
}
.left{
    width: 30%;
    padding: 18px 25px;
    font-size: xx-large;
    color: rgb(212, 41, 212);
}
div ul{
    padding: 24px 0px;
    display: flex;
    justify-content: center;
}
div ul li{
    list-style: none;
    margin: 0px 10px;
}
div ul a{
    text-decoration: none;
    color: white;
}
div ul a:hover{
    color: rgb(212, 41, 212);
}
.right{
    padding: 24px 0px;
}

.btn:hover{
    background-color: rgb(212, 41, 212);
    color: white;
}


/* SecondPage */
.Heading{
    padding-top: 45px ;
    text-align: center;
    font-size: 25px;
    font-family: cursive;
}
.underline{
    text-align: center;
    padding-bottom: 45px;
    font-size: xx-large;
    color: rgb(212, 41, 212);
}
.SecondContainer{
    padding: 50px 10px;
    background-image: url(./Image/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(5,auto);
    justify-content: space-around;
}
.item{
    position: relative;
    margin: 10px;
}
.img{
    height: 300px;
    width: 250px;
    border-radius: 10px;
}
.FirstText{
    position: absolute;
    bottom: 5px;
    left: 30px;
    color: white;
    font-size: 20px;
    text-align: justify;
}



/* Third Page */
.RegisterModel{
    background-image: url(./Image/bg3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.Register{
    background-color: rgba(51, 35, 35, 0.4);
    text-align: center;
    height: 350px;
    width: 100%;
}
.Model{
    padding-top: 140px;
    padding-bottom: 5px;
    font-size: 50px;
    color: white;
}
.btn1{
    font-size: 10px;
    padding: 5px 10px;
    background-color: rgb(204, 42, 180);
    color: white;
}


/* Fourth Page */
.HireModel{
    height: 1250px;
}
.Container4{
    height: 1070px;
    background-color: rgb(247, 219, 224);
}
.Con1{
    margin-left: 400px;
    justify-content: center;
}
.boxModel{
    height: 400px;
    width: 300px;
    display: inline-block;
    /* border: 2px solid black; */
    text-align: center;
}
#boxModel1{
    margin-top: 20px;
}
#boxModel2{
    margin-left: 50px;
    position: relative;
    top: 100px;
}
.Con2{
    margin-left: 400px;
    justify-content: center;
}
#boxModel3{
    position: relative;
    top: 250px;
}
#boxModel4{
    margin-left: 50px;
    position: relative;
    top: 150px;
}
.SmallHead{
    font-size: 23px;
}
.Sbtn{
    margin-top: 8px;
    margin-bottom: 15px;
    padding: 5px;
    font-size: 10px;
    background-color: rgb(204, 42, 180);
    color: white;
}
.Simg{
    border: 2px solid black;
}
.text{
    margin-top: 10px;
}


/* Fifth Page */

.Container5{
    height: 500px;
    background-image: url(./Image/bg5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(4,auto);
    justify-content: space-around;
}
#box1 {
    margin-top: 150px;
}
#box2{
    margin-top: 150px;
}
#box7 {
    margin-bottom: 150px;
}
#box8 {
    margin-bottom: 150px;
}
.box{
    margin: 5px;
    padding: 15px 10px;
    background-color: white;
    text-align: center;
    font-weight: 100;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 8px;
    
}


/* Sixth Page */
.AboutUs{
    margin-top: 10px;
    display: flex;
    height: 300px;
}
.About{
    margin-left: 280px;
    margin-right: 32px;
    font-size: 18px;
    text-align: justify;
    width: 60%;
    
}
.AboutMore{
    width: 40%;
    font-size: 18px;
}
.div{
    margin-top: 2px;
    padding: 15px 5px;
    /* border: 2px solid black; */
}
#div1{
    margin-top: 32px;
}



/* Seventh Page */
iframe{
    width: 100%;

}
.container6{
    display: flex;
    padding-left: 430px;
    background-color: rgb(56, 55, 55);
}
.send{
    overflow: visible;
    justify-items: center;
    padding-top: 20px;
    position: relative;
    height: 100px;
    width: 150px;
    text-align: center;
    background-color: rgb(204, 42, 180);
    color: white;
    margin: 1px;
}


/* Footer */
.last{
    width: 100%;
    height: 300px;
    background-color: black;
}
.footer{
    display: flex;
    justify-content: center;
}
footer{
    padding-top: 85px;
    text-align: center;
}
.logo{
    padding: 15px 5px;
    border: 2px solid black;
    border-radius: 5px;
    height: 20px;
    width: 40px;
    margin: 1px;
    background-color: white;
}
.symbol{
    margin-top: 5px;
    font-size: 40px;
    color: rgb(204, 42, 180);
}
.copy{
    color: white;
}
